/* dobbiamo ora riportare una sorta di gerarchia visiva nella pagina */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0.5em 0; /* 1em sopra e sotto, 0 dx e sx */
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0.25em 0;
}

ol,
ul {
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

table {
  margin: 1em 0;
}

/* stili specifici per questo documento */
header {
  text-align: center;
}
